@model SecurePort.Entities.Models.UsuarioFrontal
<div class="panel-body">

<input type="text" id="IdDoc"   name="IdValor"   style="display: none">
<input type="text" id="NombreDocumento"   name="NombreDocumento"   style="display: none">
	<div class="row">
		<div class="col-md-10">
			@if (Model.valor)
			{
				@(this.Html.Kendo().ToolBar().Name("ToolBarDoc").Items(items =>
				  {
					  items.Add().Type(CommandType.Button).Togglable(true).HtmlAttributes(new { type = "button", @class = "btn btn-primary icon-plus", style = "margin-bottom:1px" })
						  .Hidden(@Model.permisosViewModel.CON_ADJUNTA_DOC_IIPP).Id("toggle9");
					  items.Add().Type(CommandType.Button).Togglable(true).HtmlAttributes(new { type = "button", @class = "btn btn-blue icon-edit", style = "margin-bottom:1px" })
						  .Hidden(@Model.permisosViewModel.CON_MODIF_DOC_IIPP).Id("toggle10");
					  items.Add().Type(CommandType.Button).Togglable(true).HtmlAttributes(new { type = "button", @class = "btn btn-danger icon-remove", style = "margin-bottom:1px" })
						  .Hidden(@Model.permisosViewModel.CON_BORRA_DOC_IIPP).Id("toggle11");
					  items.Add().Type(CommandType.Button).Togglable(true).HtmlAttributes(new { type = "button", @class = "btn btn-orange icon-folder-open-alt", style = "margin-bottom:1px" })
						  .Hidden(@Model.permisosViewModel.CON_CONSULTA_OPIP_IIPP).Id("toggle12");
				  })
					  .Events(e => e.Toggle("onToggleProvincias"))
					  )
			}
			 @(this.Html.Kendo().Grid<SecurePort.Entities.Models.Doc_Asoc>().Name("GridDoc_Asoc")
				  .Columns(columns =>
				  {
					  columns.Bound(o => o.id).Hidden(true);
					  columns.Bound(o => o.TipoNombre).Title("Tipo").HtmlAttributes(new { style = "text-align: left;" }).Width(90);
					  columns.Bound(o => o.documento).Title("Documento").HtmlAttributes(new { style = "text-align: left;" });
					  columns.Bound(o => o.descripcion).Title("Descripción").HtmlAttributes(new { style = "text-align: left;" });
				  })
				  .Events(events => events.Change("onChangeEditOperadorDoc"))
				  .HtmlAttributes(new { style = "height: 120px" })
				  .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
				  .DataSource(dataSource => dataSource.Ajax()
					  .PageSize(10)
					  .Model(model => model.Id(p => p.id))
					  .Read(read => read.Action("DocumentosAsociados", "Operadores")))
				  .Pageable()
				  .Filterable()
				  .Scrollable()
				  )
		</div>
	</div>
</div>
<script>


	function onShow(e) {
	}
	function onHide(e) {

	}
	$(document).ready(function () {
	    $("#toggle9").kendoTooltip({
	        content: "Alta Documento",
	        show: onShow,
	        hide: onHide,
	        position: "top"
	    });
	    $("#toggle10").kendoTooltip({
	        content: "Editar Documento",
	        show: onShow,
	        hide: onHide,
	        position: "top"
	    });
	    $("#toggle11").kendoTooltip({
	        content: "Borrar Documento",
	        show: onShow,
	        hide: onHide,
	        position: "top"
	    });
	    $("#toggle12").kendoTooltip({
	        content: "Visualizar Documento",
	        show: onShow,
	        hide: onHide,
	        position: "top"
	    });
	});

</script>

