@using SecurePort.Entities.Models
@model UsuarioFrontal 
@{
	string color =  @ViewBag.viualiza=="false"? "#FFFFFF": "#eeeeee";
	bool visual = @ViewBag.viualiza=="false"? false : true;
	bool disabled  = @ViewBag.viualiza=="false"? true : false;
	string habilita = @ViewBag.viualiza=="false"? "" :"disabled='disabled'";
	string visible = @ViewBag.viualiza=="false"?"display:block":"display:none"; 
}
<div class="row" style="width:104%;">
	<div class="col-md-12" style="margin-top: -1.5%; margin-left: -1.5%; margin-right: -2%;">
		<div class="panel-heading" style="width:102%;" >
				<a data-original-title="Ayuda" data-placement="bottom" data-style="top" class="clip-user-2 tooltips" onclick=" Ayuda() "  ></a>
				<strong>@ViewBag.Mensaje</strong>
			</div>

        <div class="col-md-12">
	        <div>
		        <span></span>
		        <hr style="margin-top: 2%;">
	        </div>
        </div>
        <input type="text" id="DetalleAmenazaBien"  name="DetalleAmenazaBien"  style="display: none" value="@ViewBag.DetalleAmenazaBienDatail">
        <div class="panel-body"  style="overflow-y: auto;height: 695px;width:100%;">
        <div class="row">
            <div class="col-md-4" style="padding-left:20px; ">
			<div id="email01" class="form-group">
				<label class="control-label">
					Instalación
				</label>
				@(Html.Kendo().TextBox().Name("Instalacion").Enable(false) 
				  .HtmlAttributes(new { id="Evaluacion01", nombre="Instalacion0101",  type = "text", style = "background-color:#eeeeee", @class="form-control", value =@ViewBag.Instalacion }))
			</div>
		</div>      
		<div class="col-md-5">
			<div id="email01" class="form-group">
				<label class="control-label">
					Tipo Bien
				</label>
				@(Html.Kendo().TextBox().Name("Bien").Enable(false) 
				  .HtmlAttributes(new { id="Instalacion01", nombre="Bien01",  type = "text",style = "background-color:#eeeeee", @class="form-control", value =@ViewBag.Bien}))
			</div>
		</div>
		<div class="col-md-2" style="@ViewBag.BtnCalculo">
			<div id="email01" class="form-group" >
				<label class="control-label" >
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</label>
				@(this.Html.Kendo().Button().Name("ButtonCalcularRiesgos").HtmlAttributes(new { type = "button", @class = "btn btn-danger" }).Content("Calcular Riesgos").Events(ev => ev.Click("onClick")))				
			</div>
		</div>
 
		</div>



	    <div class="row">
		    <div class="col-md-12" >           

             @(Html.Kendo().PanelBar()
                .Name("panelbar")
                .ExpandMode(PanelBarExpandMode.Multiple)
                 .HtmlAttributes(new { style = "max-width: 1240px;" })
                 .Items(items =>
                    {
                        // here is the trick to add the items dynamically
                        foreach (Detalle_EvaluacionViewModel detail in ViewBag.DetalleAmenazaBien)
                        {                            
                            items.Add()
                                .Text(detail.Amenaza)
                                .Expanded(visual)
                                .Content(@<div>
                                    <TABLE BORDER>
	                                <TR>		                      
      	                                <TD rowspan="3" style="text-align:center;font-weight:bold;">NIvel de Protección</TD>
                                        <TD  rowspan="3" style="text-align:center;font-weight:bold;">Existe IAS o ITP</TD>                                         
                                        <TD colspan="3" style="text-align:center;font-weight:bold;">Vulnerabiliad (1 a 4)</TD>
                                        <TD colspan="8" style="text-align:center;font-weight:bold;">Consecuencias</TD>
                                        
	                                </TR>
	                                <TR>
		                                <TD rowspan="2" style="text-align:center;font-weight:bold;">Accesibilidad a la Instalación</TD> 
                                        <TD rowspan="2" style="text-align:center;font-weight:bold;">Susceptibiliad a la destrucción</TD> 
                                        <TD rowspan="2" style="text-align:center;font-weight:bold;">Interferencia operativa</TD>
                                        <TD rowspan="2" style="text-align:center;font-weight:bold;">Daños a la vida humana (1 a 5)</TD>
                                        <TD colspan="2" style="text-align:center;font-weight:bold;">Daños Económicos</TD>
                                        <TD rowspan="2" style="text-align:center;font-weight:bold;">Redundancia de elementos que aseguren funcionalidad (1 a 5)</TD>
                                        <TD rowspan="2" style="text-align:center;font-weight:bold;">Plazo de recup. (1 a 5)</TD>
                                        <TD rowspan="2" style="text-align:center;font-weight:bold;">Repercusión en medio ambiente(0,1,2,3 ó 5)</TD>
                                        <TD rowspan="2" style="text-align:center;font-weight:bold;">Repercusión en patrimonio artístico(0,1,2,3 ó 5)</TD>
                                        <TD rowspan="2" style="text-align:center;font-weight:bold;">Alarma social(0,1,2,3 ó 5)</TD>
                                        
	                                </TR> 
                                    <TR>
		                                <TD style="text-align:center;">Crd</TD> 
                                        <TD style="text-align:center;">Cri</TD> 
                                        <TD  id="titulo_|@detail.Id_Amenaza" style="text-align:center;font-weight:bold;@ViewBag.resulta"><font color="red">Calculo de Riesgos </font></TD>                                       
	                                </TR>
                                    <TR>
                                        <TD style="text-align:center;">1</TD> 
                                        <TD rowspan="3" ><input name="IND_IAS_ITP_@detail.Id_Amenaza" id="IND_IAS_ITP_|@detail.Id_Amenaza" @habilita class='icheckbox_minimal-grey' @detail.EstadoChk  type='checkbox' onchange="ModificarDetalle(this)" /></TD> 
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtAccesibilidad1").Enable(disabled).HtmlAttributes(new { id = "NP1_IAI_|" + detail.Id_Amenaza + "|1", name = "NP1_IAI_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this);", value=@detail.NP1_IAI}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtSuceptibilidad1").Enable(disabled).HtmlAttributes(new { id = "NP1_ISD_|" + detail.Id_Amenaza + "|1", name = "NP1_ISD_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_ISD}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtInterferencia1").Enable(disabled).HtmlAttributes(new { id = "NP1_IIO_|" + detail.Id_Amenaza + "|1", name = "NP1_IIO_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_IIO}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtHumanos1").Enable(disabled).HtmlAttributes(new { id = "NP1_IDV_|" + detail.Id_Amenaza + "|2", name = "NP1_IDV_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_IDV}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtCrd1").Enable(disabled).HtmlAttributes(new { id = "NP1_IDE_D_|" + detail.Id_Amenaza + "|0", name = "NP1_IDE_D_|" + detail.Id_Amenaza + "|0", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_IDE_D}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtCri1").Enable(disabled).HtmlAttributes(new { id = "NP1_IDE_I_|" + detail.Id_Amenaza + "|0", name = "NP1_IDE_I_|" + detail.Id_Amenaza + "|0", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_IDE_I}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtFuncionalidad1").Enable(disabled).HtmlAttributes(new { id = "NP1_IRD_|" + detail.Id_Amenaza + "|2", name = "NP1_IRD_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_IRD}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtRecuperacion1").Enable(disabled).HtmlAttributes(new { id = "NP1_IRR_|" + detail.Id_Amenaza + "|2", name = "NP1_IRR_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_IRR}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtMedio1").Enable(disabled).HtmlAttributes(new { id = "NP1_ISA_MA_|" + detail.Id_Amenaza + "|3", name = "NP1_ISA_MA_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_ISA_MA}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtPatrimonio1").Enable(disabled).HtmlAttributes(new { id = "NP1_ISA_PA_|" + detail.Id_Amenaza + "|3", name = "NP1_ISA_PA_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_ISA_PA}))</TD>
                                        <TD >@(this.Html.Kendo().TextBox().Name("txtAlarma1").Enable(disabled).HtmlAttributes(new { id = "NP1_ISA_AS_|" + detail.Id_Amenaza + "|3", name = "NP1_ISA_AS_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP1_ISA_AS}))</TD>
                                        <TD id="resultado1_|@detail.Id_Amenaza" style="@ViewBag.resulta" >@(this.Html.Kendo().TextBox().Name("txtResultado1").Enable(false).HtmlAttributes(new { id = "NP1_RESULTADO_|" + detail.Id_Amenaza, name = "NP1_RESULTADO_|" + detail.Id_Amenaza, style = "background-color:#eeeeee;", @class = "form-control", type = "text", onchange="ModificarDetalleText(this)", value=@detail.NP1_RESULTADO}))</TD>

									</TR>
										<TR>
										<TD style="text-align:center;">2</TD>                     
										<TD >@(this.Html.Kendo().TextBox().Name("txtAccesibilidad2").Enable(disabled).HtmlAttributes(new { id = "NP2_IAI_|" + detail.Id_Amenaza + "|1", name = "NP2_IAI_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_IAI}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtSuceptibilidad2").Enable(disabled).HtmlAttributes(new { id = "NP2_ISD_|" + detail.Id_Amenaza + "|1", name = "NP2_ISD_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_ISD}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtInterferencia2").Enable(disabled).HtmlAttributes(new { id = "NP2_IIO_|" + detail.Id_Amenaza + "|1", name = "NP2_IIO_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_IIO}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtHumanos2").Enable(disabled).HtmlAttributes(new { id = "NP2_IDV_|" + detail.Id_Amenaza + "|2", name = "NP2_IDV_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_IDV}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtCrd2").Enable(disabled).HtmlAttributes(new { id = "NP2_IDE_D_|" + detail.Id_Amenaza + "|0", name = "NP2_IDE_D_|" + detail.Id_Amenaza + "|0", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_IDE_D}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtCri2").Enable(disabled).HtmlAttributes(new { id = "NP2_IDE_I_|" + detail.Id_Amenaza + "|0", name = "NP2_IDE_I_|" + detail.Id_Amenaza + "|0", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_IDE_I}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtFuncionalidad2").Enable(disabled).HtmlAttributes(new { id = "NP2_IRD_|" + detail.Id_Amenaza + "|2", name = "NP2_IRD_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_IRD}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtRecuperacion2").Enable(disabled).HtmlAttributes(new { id = "NP2_IRR_|" + detail.Id_Amenaza + "|2", name = "NP2_IRR_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_IRR}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtMedio2").Enable(disabled).HtmlAttributes(new { id = "NP2_ISA_MA_|" + detail.Id_Amenaza + "|3", name = "NP2_ISA_MA_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_ISA_MA}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtPatrimonio2").Enable(disabled).HtmlAttributes(new { id = "NP2_ISA_PA_|" + detail.Id_Amenaza + "|3", name = "NP2_ISA_PA_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_ISA_PA}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtAlarma2").Enable(disabled).HtmlAttributes(new { id = "NP2_ISA_AS_|" + detail.Id_Amenaza + "|3", name = "NP2_ISA_AS_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP2_ISA_AS}))</TD>
										<TD id="resultado2_|@detail.Id_Amenaza" style="@ViewBag.resulta" >@(this.Html.Kendo().TextBox().Name("txtResultado2").Enable(false).HtmlAttributes(new { id = "NP2_RESULTADO_|" + detail.Id_Amenaza, name = "NP2_RESULTADO_|" + detail.Id_Amenaza, style = "background-color:#eeeeee;", @class = "form-control", type = "text", onchange="ModificarDetalleText(this)", value=@detail.NP2_RESULTADO}))</TD>
					 
									</TR>
									<TR>
										<TD style="text-align:center;">3</TD>                     
										<TD >@(this.Html.Kendo().TextBox().Name("txtAccesibilidad3").Enable(disabled).HtmlAttributes(new { id = "NP3_IAI_|" + detail.Id_Amenaza + "|1", name = "NP3_IAI_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_IAI}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtSuceptibilidad3").Enable(disabled).HtmlAttributes(new { id = "NP3_ISD_|" + detail.Id_Amenaza + "|1", name = "NP3_ISD_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_ISD}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtInterferencia3").Enable(disabled).HtmlAttributes(new { id = "NP3_IIO_|" + detail.Id_Amenaza + "|1", name = "NP3_IIO_|" + detail.Id_Amenaza + "|1", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_IIO}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtHumanos3").Enable(disabled).HtmlAttributes(new { id = "NP3_IDV_|" + detail.Id_Amenaza + "|2", name = "NP3_IDV_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_IDV}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtCrd3").Enable(disabled).HtmlAttributes(new { id = "NP3_IDE_D_|" + detail.Id_Amenaza + "|0", name = "NP3_IDE_D_|" + detail.Id_Amenaza + "|0", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_IDE_D}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtCri3").Enable(disabled).HtmlAttributes(new { id = "NP3_IDE_I_|" + detail.Id_Amenaza + "|0", name = "NP3_IDE_I_|" + detail.Id_Amenaza + "|0", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_IDE_I}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtFuncionalidad3").Enable(disabled).HtmlAttributes(new { id = "NP3_IRD_|" + detail.Id_Amenaza + "|2", name = "NP3_IRD_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_IRD}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtRecuperacion3").Enable(disabled).HtmlAttributes(new { id = "NP3_IRR_|" + detail.Id_Amenaza + "|2", name = "NP3_IRR_|" + detail.Id_Amenaza + "|2", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_IRR}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtMedio3").Enable(disabled).HtmlAttributes(new { id = "NP3_ISA_MA_|" + detail.Id_Amenaza + "|3", name = "NP3_ISA_MA_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_ISA_MA}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtPatrimonio3").Enable(disabled).HtmlAttributes(new { id = "NP3_ISA_PA_|" + detail.Id_Amenaza + "|3", name = "NP3_ISA_PA_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_ISA_PA}))</TD>
										<TD >@(this.Html.Kendo().TextBox().Name("txtAlarma3").Enable(disabled).HtmlAttributes(new { id = "NP3_ISA_AS_|" + detail.Id_Amenaza + "|3", name = "NP3_ISA_AS_|" + detail.Id_Amenaza + "|3", style = "background-color:" + color, @class = "form-control", type = "text", onblur="ModificarDetalleText(this)", value=@detail.NP3_ISA_AS}))</TD>
										<TD id="resultado3_|@detail.Id_Amenaza" style="@ViewBag.resulta" >@(this.Html.Kendo().TextBox().Name("txtResultado3").Enable(false).HtmlAttributes(new { id = "NP3_RESULTADO_|" + detail.Id_Amenaza, name = "NP3_RESULTADO_|" + detail.Id_Amenaza, style = "background-color:#eeeeee;", @class = "form-control", type = "text", onchange="ModificarDetalleText(this)", value=@detail.NP3_RESULTADO}))</TD>
									</TR>
								</TABLE>
							</div>);                              
						}

					})
				)

			</div>
		   
		</div>
	   

    </div>
         <div class="row" style="position:relative;bottom:-10px; right:10px;">
              <div class="space12" style="margin-left: 40%;">
	            <div class="btn-group btn-group-sm">
                @if(disabled){
		            @(this.Html.Kendo().Button().Name("ButtonDeshacerAmenazasIns").HtmlAttributes(new { type = "button", @class = "btn btn-danger" }).Content("Deshacer").Events(ev => ev.Click("onClick")))

					@(this.Html.Kendo().Button().Name("ButtonSaveAmenazasIns").HtmlAttributes(new { type = "button", @class = "btn btn-primary hidden-xs" }).Content("Guardar").Events(ev => ev.Click("onClick")))

		            @(this.Html.Kendo().Button().Name("ButtonVolverIns").HtmlAttributes(new { type = "button", @class = "btn btn-default" }).Content("Volver").Events(ev => ev.Click("onClick")))
                } else {
                        @(this.Html.Kendo().Button().Name("ButtonVolverIns").HtmlAttributes(new { type = "button", @class = "btn btn-default" }).Content("Volver").Events(ev => ev.Click("onClick")))
                }
	            </div>
            </div>
		</div>
	</div>
</div>
<div id="alerta">
	<span id="message" style="font-size: 14px; font-family: 'Helvetica'; font-weight: bold;padding-left:13px;padding-right:13px;padding-top:15px;padding-bottom:10px"></span>
	<div style="height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<button class="blue" type="submit">OK</button>
</div>

<script>
  
    var TotalAmenazas = @Html.Raw(
        Json.Encode(
            ((IEnumerable<Detalle_EvaluacionViewModel>)ViewBag.DetalleAmenazaBien).Select(x => new 
            { 
                Id = x.Id,
                Id_Evaluacion = x.Id_Evaluacion,
                Id_Version_Eval = x.Id_Version_Eval,
                Id_Instalacion  = x.Id_Instalacion,
                Id_Bien = x.Id_Bien,
                Id_Amenaza = x.Id_Amenaza,
                Amenaza = x.Amenaza,
                IND_IAS_ITP = x.IND_IAS_ITP,
                NP1_IAI = x.NP1_IAI,
                NP1_ISD = x.NP1_ISD,
                NP1_IIO = x.NP1_IIO,
                NP1_IDV = x.NP1_IDV,
                NP1_IDE_D = x.NP1_IDE_D,
                NP1_IDE_I = x.NP1_IDE_I,
                NP1_IRD = x.NP1_IRD,
                NP1_IRR = x.NP1_IRR,
                NP1_ISA_MA = x.NP1_ISA_MA,
                NP1_ISA_PA = x.NP1_ISA_PA,
                NP1_ISA_AS = x.NP1_ISA_AS,
                NP1_RESULTADO = x.NP1_RESULTADO,
                NP1_ID = x.NP1_ID,
                NP1_IC = x.NP1_IC,
                NP1_IV = x.NP1_IV,
                NP2_IAI = x.NP2_IAI,
                NP2_ISD = x.NP2_ISD,
                NP2_IIO = x.NP2_IIO,
                NP2_IDV = x.NP2_IDV,
                NP2_IDE_D = x.NP2_IDE_D,
                NP2_IDE_I = x.NP2_IDE_I,
                NP2_IRD = x.NP2_IRD,
                NP2_IRR = x.NP2_IRR,
                NP2_ISA_MA = x.NP2_ISA_MA,
                NP2_ISA_PA = x.NP2_ISA_PA,
                NP2_ISA_AS = x.NP2_ISA_AS,
                NP2_RESULTADO = x.NP2_RESULTADO,
                NP2_ID = x.NP2_ID,
                NP2_IC = x.NP2_IC,
                NP2_IV = x.NP2_IV,
                NP3_IAI = x.NP3_IAI,
                NP3_ISD = x.NP3_ISD,
                NP3_IIO = x.NP3_IIO,
                NP3_IDV = x.NP3_IDV,
                NP3_IDE_D = x.NP3_IDE_D,
                NP3_IDE_I = x.NP3_IDE_I,
                NP3_IRD = x.NP3_IRD,
                NP3_IRR = x.NP3_IRR,
                NP3_ISA_MA = x.NP3_ISA_MA,
                NP3_ISA_PA = x.NP3_ISA_PA,
                NP3_ISA_AS = x.NP3_ISA_AS,
                NP3_RESULTADO = x.NP3_RESULTADO,
                NP3_ID = x.NP3_ID,
                NP3_IC = x.NP3_IC,
                NP3_IV = x.NP3_IV, 
                tipo   = x.tipo,
                Estado = x.Estado                
            })
        )
    );


	function onShow(e) {
	}
	function onHide(e) {

	}
	
</script>
<style type='text/css'>
	#panelbar {
		max-width: 1115px;
		margin: 0 auto;
		width:103%;      
	}
	.teamMate:after {
		content: ".";
		display: block;
		height: 0;
		line-height: 0;
		clear: both;
		visibility: hidden;
	}
	.teamMate h2 {
		font-size: 1.4em;
		font-weight: normal;
		padding-top: 20px;
	}
	.teamMate p {
		margin: 0;
	}
	.teamMate img {
		float: left;
		margin: 5px 15px 5px 5px;
		border: 1px solid #000;
		border-radius: 50%;
	}
.k-panelbar>li.k-state-default>.k-link.k-state-selected, .k-panelbar>li>.k-state-selected, .k-state-selected>.k-link {
	color: #000;
}

#alerta{
	  display:none; 
	  border-style: double; 
	  border-width: 1px; 
	  width:300px;
	  height:150px;
	  background-color:#FFFFFF;
	  position: relative;
	  top: -280px; 
	  margin-left: 399px; 
	  margin-top: -168px;
	  padding: 50px 30px 13px 13px; 
	  text-align: center;  
	}




</style>
