@using DocumentFormat.OpenXml.Wordprocessing
@{
	string valor = string.Empty;
	string valorIsla = string.Empty;
}
<div class="row">
	<div class="col-lg-13">
		<div class="panel panel-default" style="margin-top: -4%;">
			<div class="panel-heading" >
				<a data-original-title="Ayuda" data-placement="bottom" data-style="top" class="clip-user-2 tooltips" onclick=" Ayuda() "></a>
				<strong>Alta Municipio</strong>
			</div>
			<div class="k-content">
                <input type="text" id="ValidarAllCombos" name="ValidarAllCombos" style="display: none">
				<div id="Ciudad">
					<form id="CiudadForm">
						<ul id="fieldlist">
							<li style="list-style:none;">
								&nbsp;
							</li>
							<li style="list-style:none;height:6%">
								@(Html.Kendo().TextBox().Name("Tipo")
									  .HtmlAttributes(new { id="Tipo01", style = "width:220px;margin-left: 4%;display:none", value="Ciudad"}))
							</li>
							<li style="list-style:none;height:6%">
								<label for="Codigo" style = "margin-left: 4%;" class="required">Municipio</label>
								@(Html.Kendo().TextBox().Name("Codigo")
									  .HtmlAttributes(new { id="Codigo01",placeholder = "Insertar el Municipio", required = "required", type = "text",validationmessage = "Este campo es requerido", style = "width:220px;margin-left: 4%;", MaxLength="4" }))
							</li>

							<li style="list-style:none;height:6%">
								<label for="Nombre" style = "margin-left: 4%;" class="required">Nombre</label>
								@(Html.Kendo().TextBox().Name("Nombre")
									  .HtmlAttributes(new { id="Nombre01",placeholder = "Insertar Nombre de la Ciudad", required = "required", type = "text",validationmessage = "Este campo es requerido", style = "width:220px;margin-left: 4%;", MaxLength="75" }))
							</li>
						   
							<div style="width:100%">   
								<div class="col-md-8">
									<div class="form-group">
										<label class="control-label">
											Provincia
										</label>
										@(this.Html.Kendo().ComboBox().Name("Provincias")
											  .Placeholder("Selecciona Provincia")
											  .DataTextField("Text").DataValueField("Value")
											  .Filter(FilterType.Contains)
											  .BindTo((SelectList)this.ViewData["Provincias"])
											  .Value(valor).Suggest(true)
											  .HtmlAttributes(new { style = "width:100%;", required = "required", validationmessage = "Este campo es requerido",id = "Provincia01" ,name="Provincia01", onChange = "ValidacionCombos(this,'errorProvincia')" }))
                                              <span id="errorProvincia" style="display: none; color: #b94a48;">Este campo es inválido.</span>
									</div>
								</div>
							</div>
							<div style="width:100%">   
								<div class="col-md-8">
									<div class="form-group">
										<label class="control-label">
											Isla
										</label>
										@(this.Html.Kendo().ComboBox().Name("Islas")
											  .Placeholder("Selecciona Isla")
											  .DataTextField("Text").DataValueField("Value")
											  .Filter(FilterType.Contains)
											  .BindTo((SelectList)this.ViewData["Islas"])
											  .Value(valorIsla).Suggest(true)
											  .HtmlAttributes(new { style = "width:100%;",id = "Isla01" ,name="Isla01", onChange = "ValidacionCombos(this,'errorIsla')"}))
                                              <span id="errorIsla" style="display: none; color: #b94a48;">Este campo es inválido.</span> 
									</div>
								</div>
							</div>   

							<li id="Opcion02" class="space12" style="margin-left: 40%; display: block">
								<div class="btn-group btn-group-sm">
									<button class="btn btn-primary hidden-xs" type="submit">
										Guardar
									</button>
									<a class="btn btn-default " href="javascript:VolverCiudad()">
										Volver
									</a>
								</div>
							</li>
						   

							<li class="status">
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {        
		var validator = $("#CiudadForm").kendoValidator().data("kendoValidator");
		var status = $(".status");
		$("form").submit(function (event) {
		    event.preventDefault();
		    if (ValidarAllCombosC("0"))
		        $('input#ValidarAllCombos').val("1");
		    else
		        $('input#ValidarAllCombos').val("");
			if (validator.validate()) {
				status.removeClass("invalid").addClass("valid");
				AltaPais();
			} else {
				status.removeClass("valid").addClass("invalid");
			}
		});
	});
</script>