<!-- Generic page styles -->
@*<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">*@
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="~/Scripts/SecurePort/plugins/jQuery-File-Upload/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="~/Scripts/SecurePort/plugins/jQuery-File-Upload/css/jquery.fileupload-ui-noscript.css"></noscript>
<form id="fileupload" action="@(this.Url.Action("FileUpload","Home"))" method="POST" enctype="multipart/form-data">
    <div class="row fileupload-buttonbar">
        <div class="col-md-12">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <input type="text" id="file-path" value="No hay fichero seleccionado...." readonly="readonly" style="width: 50%;">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Adjuntar fichero</span>
                <input type="file" name="files[]" >
            </span>
@*            <button type="submit" class="btn btn-primary start" id="hl-start-upload" value="disable" disabled="disabled">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Subir fichero</span>
            </button>*@
        </div>
        
        <!-- The global progress state -->
        <div class="col-md-10 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
        <div  class="col-md-10">
             <li id="Opcion02" class="space12" style="margin-left: 40%; display: block">
                 <div class="btn-group btn-group-sm">
                    <button id="hl-start-upload" class="btn btn-primary hidden-xs" type="submit" value="disable" disabled="disabled">
                       Guardar
                    </button>
                    <a class="btn btn-default"  href="javascript:void(0)" onclick="@ViewBag.BotonRetorno.ToString()">Volver
                   </a>
                </div>
            </li>                                
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    <input type="text" id="Idvista" name="IdVista" value="@ViewBag.Idvista" style="display: none">
    <input type="text" id="TipoSer" name="TipoSer" value="@ViewBag.TipoSer" style="display: none">
</form>

<script id="template-upload" type="text/x-tmpl"></script>
<script id="template-download" type="text/x-tmpl"></script>
@*<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>*@

<script type="text/javascript" src="~/Scripts/uploadify/tmpl.min.js"></script>
<script type="text/javascript" src="~/Scripts/uploadify/load-image.all.min.js"></script>
<script type="text/javascript" src="~/Scripts/uploadify/canvas-to-blob.min.js"></script>
<script type="text/javascript" src="~/Scripts/uploadify/jquery.blueimp-gallery.min.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {       
        var jqXHRData;
        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload({
            url: '/Home/FileUpload',
            dataType: "json",
            add: function (e, data) {
                jqXHRData = data;
            },
            success: function(result, textStatus, jqXHR) {
                if (result.isUploaded == false) {
                    alert(result.Message);
                    return false;
                } else {
                    document.getElementById("hl-start-upload").disabled = true;
                }
                return true;
            },
        });

        $("#fileupload").on('change', function (e) {
            $("#file-path").val(jqXHRData.files[0].name);
            var UploadJson = {
                "tipo": $('select#TiposDocumento01.form-control').val()
            };
            var o = eval(UploadJson);
            if (o.tipo) {
                $.ajax({                
                    url: "@ViewBag.UrlGuardar",  //'/Usuarios/AsignarTipoDocumento',
                    type: "POST",
                    data: JSON.stringify({ UploadJson: UploadJson }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //if (data.result) {
                        //    //$('#myModalPaises').modal('hide');
                        //    //window.location.reload();
                        //}
                    }
                });
            }
            document.getElementById("hl-start-upload").disabled = false;
            
        });

        $("#hl-start-upload").on('click', function () {
            if (jqXHRData) {
                if (jqXHRData.files[0].size > 1024 * 1024 * 100) {
                    alert('El fichero no puede ser mayor a 100MB', '@ViewBag.Retorno');
                    $("#file-path").val('Seleccionar fichero....');
                    document.getElementById("hl-start-upload").disabled = true;
                    return false;
                }
                else {
                    var extension = "";
                    var name = jqXHRData.files[0].name;
                    var i = name.lastIndexOf('.');
                    if (i > 0) {
                        extension = "."+name.substring(i + 1);
                    }
                    // Verifica que el fichero no exista con el mismo nombre 
                    var UploadJson = {
                        "tipo": $('select#TiposDocumento01.form-control').val(),
                        "nombre": $("#file-path").val(),
                        "descripcion": $('input#descripcion01.form-control').val(),
                        "usuarioAlta": "@ViewBag.usuarioAlta",
                        "servicioAlta": "@ViewBag.servicioAlta",
                        "id_servicio": "@ViewBag.Idvista",
                        "nombre_servicio": "@ViewBag.TipoSer"
                    };
                    $.ajax({
                        url: '/@ViewBag.Vista/ValidarDocumento',
                        type: "POST",
                        data: JSON.stringify({ UploadJson: UploadJson }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.result == 0) {
                          showLoading();
                          $('#myModalUpload').modal('hide');
                          $("#file-path").val('Seleccionar fichero....');
                          $('#myModalUpload').modal('hide');
                          alert("Ya existe un Fichero con  el mismo nombre", "Documentos");
                          return false;
                        } else  {
                       
                                if (extension == ".doc" || extension == ".xls" || extension == ".xlsx" || extension == ".pdf" || extension == ".docx" || extension == ".png" || extension == ".jpg" || extension == ".gif" || extension == ".odt" || extension == ".ods" ) {
                                    var jqX = jqXHRData.submit();
                                    $('#fileupload').addClass('fileupload-processing');
                                    if (jqX) {
                                        $("#file-path").val(jqXHRData.files[0].name);
                                        var filePath = jqXHRData.fileInput[0].value;
                                        if (filePath.match(/fakepath/)) {
                                            filePath = filePath.replace(/C:\\fakepath\\/i, '');
                                        };
                                        var UploadJson = {
                                            "tipo" : $('select#TiposDocumento01.form-control').val(),
                                            "nombre" : $("#file-path").val(),
                                            "descripcion" : $('input#descripcion01.form-control').val(),
                                            "usuarioAlta" : "@ViewBag.usuarioAlta",
                                            "servicioAlta" : "@ViewBag.servicioAlta",
                                            "id_servicio": "@ViewBag.Idvista",
                                            "nombre_servicio": "@ViewBag.TipoSer"
                                        };
                                        $.ajax({
                                            url: '/Home/SubirFichero',
                                            type: "POST",
                                            data: JSON.stringify({ UploadJson: UploadJson }),
                                            dataType: "json",
                                            async: true,
                                            cache: false,
                                            contentType: "application/json, text/javascript",
                                            success: function (data) {
                                                if (data.isUploaded == false) {
                                                    showLoading();                                        
                                                    $('#myModalUpload').modal('hide');
                                                    alert(data.Message, 'SubirFichero');
                                                    return false;
                                                } else {
                                                    $("#file-path").val('Seleccionar fichero....');
                                                    showLoading();
                                                    $('#myModalUpload').modal('hide');
                                                    $('#alert').attr('style', 'display:none');
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "@ViewBag.UrlVolver",   //'/Usuarios/Visualizar',
                                                        data: { id: "@ViewBag.Idvista"}, //$('input#IdUsuario').val()
                                                        success: function (data) {
                                                            if (data) {                                                        
                                                                hideLoading();
                                                                //if ("@ViewBag.Vista" == "Comites") {
                                                                //    $('#MinisteriodelInteriorRefrescar').html(data);
                                                            //} else 
                                                                if ("@ViewBag.Vista" == "Operadores" || "@ViewBag.Vista" == "Formaciones" || "@ViewBag.Vista" == "Practicas" || "@ViewBag.Vista" == "Incidentes" || "@ViewBag.Vista" == "Auditorias" || "@ViewBag.Vista" == "Niveles" || "@ViewBag.Vista" == "Mantenimiento" || "@ViewBag.Vista" == "Comunicaciones" || "@ViewBag.Vista" == "Comites" || "@ViewBag.Vista" == "DeclaraMaritima" || "@ViewBag.Vista" == "Procedimientos" || "@ViewBag.Vista" == "Evaluaciones") {
                                                                    $('#DocumentosRefrescar').html(data);
                                                                } else {
                                                                    //window.location.reload();
                                                                    $('#ListUsers').html(data);
                                                                    $('#Edit-page').html('');
                                                                }
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                } else {
                                    showLoading();
                                    $('#myModalUpload').modal('hide');
                                    $("#file-path").val('Seleccionar fichero....');
                                    $('#myModalUpload').modal('hide');
                                    alert("Extensión del Fichero es errónea", 'Documentos');
                                    return false;
                                }
                            }
                        }

                    });


                 }
            }
            return false;
        });

    });

</script>

