@model SecurePort.Entities.Models.UsuarioFrontal
<div class="panel-body">

<input type="text" id="IdOperador"   name="IdValor"   style="display: none">
<input type="text" id="NombreOperador"   name="NombreOperador"   style="display: none">
	<div class="row">
		<div class="col-md-12">
			@if (Model.valor)
			{
				@(this.Html.Kendo().ToolBar().Name("ToolBarOperadores").Items(items =>
				  {
					  items.Add().Type(CommandType.Button).Togglable(true).HtmlAttributes(new { type = "button", @class = "btn btn-primary icon-plus", style = "margin-bottom:1px" })
						  .Hidden(@Model.permisosViewModel.CON_ALTA_OPIP_IIPP).Id("toggle5");
					  items.Add().Type(CommandType.Button).Togglable(true).HtmlAttributes(new { type = "button", @class = "btn btn-blue icon-edit", style = "margin-bottom:1px" })
						  .Hidden(@Model.permisosViewModel.CON_MODIF_OPIP_IIPP).Id("toggle6");
					  items.Add().Type(CommandType.Button).Togglable(true).HtmlAttributes(new { type = "button", @class = "btn btn-danger icon-remove", style = "margin-bottom:1px" })
						  .Hidden(@Model.permisosViewModel.CON_BORRA_OPIP_IIPP).Id("toggle7");
					  items.Add().Type(CommandType.Button).Togglable(true).HtmlAttributes(new { type = "button", @class = "btn btn-orange icon-folder-open-alt", style = "margin-bottom:1px" })
						  .Hidden(@Model.permisosViewModel.CON_CONSULTA_OPIP_IIPP).Id("toggle8");
				  })
					  .Events(e => e.Toggle("onToggleProvincias"))
					  )
			}
			 @(this.Html.Kendo().Grid<SecurePort.Entities.Models.OperadoresViewModel>().Name("GridOperadores")
				  .Columns(columns =>
				  {
					  columns.Bound(o => o.Id).Hidden(true);
					  columns.Bound(o => o.Nombre).Title("Nombre").HtmlAttributes(new { style = "text-align: left;" }).Width(150);
					  columns.Bound(o => o.Es_Suplente).ClientTemplate("<input type='checkbox' class='icheckbox_minimal-grey' #= activado_Sup=='Si' ? checked='checked': '' # disabled='true' />").Title("Recibe Notificaciones").Width(160); 
					  columns.Bound(o => o.Telefono1).Title("Teléfono").HtmlAttributes(new { style = "text-align: left;" });
					  columns.Bound(o => o.Fax).Title("Fax").HtmlAttributes(new { style = "text-align: left;" });
					  columns.Bound(o => o.Email).Title("Correo").HtmlAttributes(new { style = "text-align: left;" });
					  columns.Bound(o => o.activado).Width(80).ClientTemplate("<input type='checkbox' class='icheck box_minimal-grey' #= activado=='Si' ? checked='checked': '' # disabled='true' />").Title("Activo").HtmlAttributes(new { style = "text-align: left;" });
				  })
				  .Events(events => events.Change("onChangeEditOperador"))
				  .HtmlAttributes(new { style = "height: 120px" })
				  .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
				  .DataSource(dataSource => dataSource.Ajax()
					  .PageSize(10)
					  .Model(model => model.Id(p => p.Id))
					  .Read(read => read.Action("BuscadorOperadores", "Operadores")))
				  .Pageable()
				  .Filterable()
				  .Scrollable()
				  )
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function () {
		var grid = $("#GridOperadores").data("kendoGrid");
		grid.dataSource.filter({ field: "activado", operator: "eq", value: 'Si' });
	});

	function onShow(e) {
	}
	function onHide(e) {

	}
	$(document).ready(function () {
		$("#toggle5").kendoTooltip({
			content: "Alta Contacto",
			show: onShow,
			hide: onHide,
			position: "top"
		});
		$("#toggle6").kendoTooltip({
			content: "Editar Contacto",
			show: onShow,
			hide: onHide,
			position: "top"
		});
		$("#toggle7").kendoTooltip({
			content: "Borrar Contacto",
			show: onShow,
			hide: onHide,
			position: "top"
		});
		$("#toggle8").kendoTooltip({
			content: "Visualizar Contacto",
			show: onShow,
			hide: onHide,
			position: "top"
		});
	});

</script>

