@using SecurePort.Entities.Enums
@using SecurePort.Entities.Models
@model Incidentes


	<div class="row">
		<div class="col-md-12"  style="margin-top: 0%; margin-left: 1%; margin-right: -2%;">

           <div class="panel-heading" style="width:100%;margin-left:-1%;" >
				<a data-original-title="Ayuda" data-placement="bottom" data-style="top" class="clip-user-2 tooltips" onclick=" Ayuda() "  ></a>
				<strong>Asignar Instalaciones de Violaciones o Amenazas/Incidencias </strong>
			</div>

			<!-- start: FORM VALIDATION 1 PANEL -->
			<div class="panel-body">
				<hr>
                <div class="row">
				    <form action="#" role="form" id="form">
					    <div class="row">
						    <div class="col-md-4">
							    <div class="form-group">
								    <label class="control-label">
									    Violación/Incidencia
								    </label>
								    @(this.Html.Kendo().TextBoxFor(model => model.Descripcion)
									    .HtmlAttributes(new { itemid = "Descripcion", id = "Descripcion01", name = "Descripcion01", @class = "form-control", disabled = "disabled" }))
							    </div>
						    </div>
					
					    </div> 
					
					    <div class="row">
						    <div class="col-md-12">
							    <p></p>
						    </div>
					    </div>
				    </form>
                </div>
				<div class="row">
						@*<div class="col-md-3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-checkbox"></i>
									Puertos 
								</div>
								<div class="panel-body" style="height: 460px;width: 146%">
									@(this.Html.Partial("~/Views/Incidentes/Instalacion/_PartialInstalacionDisponible.cshtml"))
								</div>
							</div>
						</div>*@
						<div class="row">
							<div class="col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="clip-checkbox"></i>
										Instalaciones No Asignadas
									</div>
									<div class="panel-body" style="height: 460px;width: 150%">
										<div id="InstaDisponibles">
											@(this.Html.Partial("~/Views/Incidentes/Instalacion/_PartialInstalacionDisponible.cshtml"))
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-2"  style="height: 460px;" >
                                <div style="position:absolute;top: 50%; left: 50%;transform: translate(-50%, -50%); width:100%;">
                                    @(this.Html.Kendo().Button().Name("Asignar")
									  .HtmlAttributes(new { type = "button" , @class="clip-chevron-right",style="font-size: 25px;margin-top: 30%;margin-left: 8%;margin-bottom: 20%;width:25%"})
									  .Events(ev => ev.Click("onClickInstalacionNivel")))
                                                           

								@(this.Html.Kendo().Button().Name("Desasignar")
									   .HtmlAttributes(new { type = "button" , @class="clip-chevron-left",style="font-size: 25px;margin-top: 50%;margin-left: -26%;margin-bottom: 10%;width:25%"})
									   .Events(ev => ev.Click("onClickInstalacionQuitarNivel")))    
                                    
                                </div>
                                
							</div>

							<div class="col-md-4" style="margin-left: -8%;">
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="clip-checkbox"></i>
										Instalaciones Asignadas
									</div>
									<div class="panel-body" style="height: 460px;width: 150%">
										<div id="InstaAsignadas">
											@(this.Html.Partial("~/Views/Incidentes/Instalacion/_PartialInstalacionesAsociadas.cshtml"))
										</div>
									</div>
								</div>
							</div>
						</div>
                        <div class="row">
						    <div id="Opcion02" class="space12" style="margin-left: 40%; display: block">
							    <div class="btn-group btn-group-sm">
								     @(this.Html.Kendo().Button().Name("ButtonDeshacerIncidenteInst").HtmlAttributes(new { type = "button", @class = "btn btn-danger" })
								       .Content("Deshacer").Events(ev => ev.Click("onClick")))
		
								     @(this.Html.Kendo().Button().Name("ButtonGuardarIncidenteInst").HtmlAttributes(new { type = "button", @class = "btn btn-primary hidden-xs" })
								       .Content("Guardar").Events(ev => ev.Click("onClick")))

								     @(this.Html.Kendo().Button().Name("ButtonVolverIncidenteInst").HtmlAttributes(new { type = "button", @class = "btn btn-default" })
								       .Content("Volver").Events(ev => ev.Click("onClick")))
							    </div>
						    </div>
					   </div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="~/Scripts/AppSecureport/appIncidentes.js"></script>
@*<script type="text/javascript">
	jQuery(document).ready(function() {
		$('select#Categoria01.form-control').val('@(this.Model.categoria)');
		$('select#Categoria01.form-control').attr('style', 'position:relative;top:0;left:0;color:black;font-size:14px');
	});
</script>*@






			